# List direcory contents
ll="ls -lahG"

# Standard tool aliases
alias grep="egrep"
alias rf="rm -rf"

# Emacs aliases
alias es='/usr/local/bin/emacs -nw --daemon'
alias em='/usr/local/bin/emacsclient -t'
alias ek='/usr/local/bin/emacsclient -e "(kill-emacs)"'
alias edc="ek && es && em"
alias emacs=/Applications/Emacs.app/Contents/MacOS/Emacs
# Misc
alias realias="source ~/.aliases"
alias flushdns="dscacheutil -flushcache"

# Programming
alias gst="nocorrect git st -s"
alias lein="nocorrect lein"

alias vu="vagrant up"
alias vd="vagrant suspend"
alias vg="nocorrect valgrind"


alias lbi='lein with-profile test cljsbuild auto integration integration-sponsor'
