# List direcory contents
ll="ls -lahG"

# Standard tool aliases
alias grep="egrep"
alias rf="rm -rf"

# Emacs aliases
alias es='/usr/local/bin/emacs -nw --daemon'
alias em='/usr/local/bin/emacsclient -t'
alias ek='/usr/local/bin/emacsclient -e "(kill-emacs)"'
alias edc="ek && es && em"
# Misc
alias realias="source ~/.aliases"
alias flushdns="dscacheutil -flushcache"

# Programming
alias lein="nocorrect lein"

alias gst="nocorrect git status"
