[user]
	name = Christian Romney
	email = cromney@pointslope.com
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = emacs
	pager = diff-so-fancy | less --tabs=2 -RFX
[commit]
	template = ~/.git-commit-template
[help]
	autocorrect = 1
[alias]
	br = branch
	ci = commit -s
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	fp = format-patch
	ls = log --oneline
	st = status
	up = pull
	ff = pull --ff-only
	rl = reflog
	staged = diff --cached
[color]
	ui = auto
[color "diff"]
	meta = cyan bold
	commit = green bold
	frag = yellow bold
	old = red
	new = green
	whitespace = red reverse
[color "branch"]
	current = cyan bold
	local = cyan 
	remote = yellow
[color "status"]
	added = green
	changed = yellow
	untracked = red
[push]
	default = simple
[merge]
	tool = opendiff
[clean]
	requireForce = false
[include]
	path = ~/.gitconfig.secrets

