# List direcory contents
alias la='ls -a'
alias ll='ls -lah'
alias kk="ll"
alias sl='ls'
alias lll="ll | less"

# One-letter aliases
alias x='extract'
alias q='exit'

# Standard tool aliases
alias df="df -h"
alias grep="egrep"
alias rf="rm -rf"
alias c="clear"
alias ack-grep="ack"
alias new="nocorrect emacs -nw"
alias es='/usr/local/Cellar/emacs/24.3/bin/emacs -nw --daemon'
alias em='/usr/local/Cellar/emacs/24.3/bin/emacsclient -t'
alias ek='/usr/local/Cellar/emacs/24.3/bin/emacsclient -e "(kill-emacs)"'
alias edc="es && em"
alias bzr="nocorrect bzr"
alias quickserve="nocorrect python -m SimpleHTTPServer"
alias termclj="flootty --owner=xmlblog --workspace=clojure --create clojure_terminal"
alias termrub="flootty --owner=xmlblog --workspace=ruby --create ruby_terminal"
alias cloozy="nocorrect flootty --owner=xmlblog --workspace=clojure clojure_terminal"
alias roozy="nocorrect flootty --owner=xmlblog --workspace=ruby ruby_terminal"

# Misc
alias cheat="nocorrect cheat"
alias realias="source ~/.aliases"
alias flushdns="dscacheutil -flushcache"
alias offlineimap="nocorrect offlineimap"
alias fortune="nocorrect fortune"
alias lsman="nocorrect lsman"
alias mc="nocorrect mc"
#
# Programming
alias gst="nocorrect git st -s"
alias pair="nocorrect pair"
alias njs="rlwrap node-repl"
alias iol="rlwrap io"
alias cljr="rlwrap clj"
alias autospec="autotest -s rspec"
alias pdstart='sudo pound -v -f /usr/local/etc/pound.cfg'
alias pdstop='sudo killall -HUP pound'
alias pear="nocorrect pear"
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"
alias mampsql="mysql -uroot -S /Applications/MAMP/tmp/mysql/mysql.sock"
alias lein="nocorrect lein"
alias offlein="lein with-profile offline"
alias vg="nocorrect valgrind"

# Proxy Support
alias proxyon="source ~/.proxies"
alias noproxy="source ~/.noproxy"
alias proxies="printenv | sort | grep proxy"
