# Push and pop directories on directory stack
alias ..='cd ../'
alias ...='cd ../..'
alias cd...="cd ../.."
alias cd..="cd .."
alias _='sudo'

# List direcory contents
alias la='ls -a'
alias ll='ls -lah'
alias kk="ll"
alias sl='ls'
alias lll="ll | less"

# One-letter aliases
alias x='extract'
alias q='exit'
alias v="f -e vim"

# Standard tool aliases
alias df="df -h"
alias grep="egrep"
alias rf="rm -rf"
alias c="clear"
alias ctail="colortail -k ~/.colortail/global.conf"

# Misc
alias realias="source ~/.aliases"
alias flushdns="dscacheutil -flushcache"
alias offlineimap="nocorrect offlineimap"
alias fortune="nocorrect fortune"
alias lsman="nocorrect lsman"
#
# Programming
alias diff="nocorrect colordiff"
alias gh="grephosts"
alias pair="nocorrect pair"
alias gt="guilt"
alias njs="rlwrap node-repl"
alias iol="rlwrap io"
alias cljr="rlwrap clj"
alias autospec="autotest -s rspec"
alias dcc="drush cc all -y"
alias pdstart='sudo pound -v -f /usr/local/etc/pound.cfg'
alias pdstop='sudo killall -HUP pound'
alias pear="nocorrect pear"
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"
alias mampsql="mysql -uroot -S /Applications/MAMP/tmp/mysql/mysql.sock"

alias vg="nocorrect valgrind"
alias fixup="git apply patches/*.patch"
alias unfix="git apply -R patches/*.patch"

# VPN routing and IP configuration
alias iroute="sudo route -n add -net 10.5.0.0/16 -interface ppp0"
alias nroute="sudo route -n add -net 192.168.200 -interface ppp0"
alias routes="nroute && iroute"
alias ip="ifconfig | grep -e \"inet 167.*\" | cut -d' ' -f2"

# Proxy Support
alias proxyon="source ~/.proxies"
alias noproxy="source ~/.noproxy"
alias proxies="printenv | sort | grep proxy"
