# List direcory contents
alias la='ls -a'
alias ll='ls -lah'
alias kk="ll"
alias sl='ls'
alias lll="ll | less"

# Docker (if you can't beat 'em, join 'em)
alias dicker="nocorrect docker"

# Standard tool aliases
alias df="df -h"
alias grep="egrep"
alias rf="rm -rf"
alias new="nocorrect emacs -nw"
alias es='/usr/local/Cellar/emacs/24.3/bin/emacs -nw --daemon'
alias em='/usr/local/Cellar/emacs/24.3/bin/emacsclient -t'
alias ek='/usr/local/Cellar/emacs/24.3/bin/emacsclient -e "(kill-emacs)"'
alias edc="es && em"
alias bzr="nocorrect bzr"
alias quickserve="nocorrect python -m SimpleHTTPServer"
# Misc
alias cheat="nocorrect cheat"
alias realias="source ~/.aliases"
alias flushdns="dscacheutil -flushcache"
alias fortune="nocorrect fortune"
alias z="j"
# Programming
alias gst="nocorrect git st -s"
alias njs="rlwrap node-repl"
alias iol="rlwrap io"
alias cljr="rlwrap clj"
alias lein="nocorrect lein"
alias olein="lein with-profile offline"
alias vg="nocorrect valgrind"


