*.elc
*.pyc
emacs/.emacs.d/data/autosave-history
emacs/.emacs.d/data/buffer-bookmarks
emacs/.emacs.d/data/recent-files
emacs/.emacs.d/data/saved-places
emacs/.emacs.d/data/smex-items
git/.gitconfig.secrets
google-cloud-sdk
lein/.lein/repl-history
self-installs
shell/dot-config/gh/config.yml
shell/dot-config/iterm2/
tags
shell/dot-config/raycast/extensions
