tags
lein/.lein/repl-history
*.pyc
*.pyc
google-cloud-sdk
*.elc
emacs/.emacs.d/personal/preload/credentials.el
git/.gitconfig.secrets
emacs/.emacs.d/.emacs.desktop
emacs/.emacs.d/config/romney-custom.el
emacs/.emacs.d/data/autosave-history
emacs/.emacs.d/data/recent-files
emacs/.emacs.d/data/saved-places
emacs/.emacs.d/data/smex-items
emacs/.emacs.d/data/buffer-bookmarks
shell/dot-config/gh/config.yml
self-installs
shell/dot-config/iterm2/
