[submodule ".vim/bundle/tpope-vim-fugitive"]
	path = .vim/bundle/tpope-vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tpope-vim-markdown"]
	path = .vim/bundle/tpope-vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/tpope-vim-rake"]
	path = .vim/bundle/tpope-vim-rake
	url = http://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/tpope-vim-surround"]
	path = .vim/bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/tpope-vim-git"]
	path = .vim/bundle/tpope-vim-git
	url = http://github.com/tpope/vim-git.git
[submodule ".vim/bundle/tpope-vim-abolish"]
	path = .vim/bundle/tpope-vim-abolish
	url = http://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/tpope-vim-endwise"]
	path = .vim/bundle/tpope-vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/scss-syntax-vim"]
	path = .vim/bundle/scss-syntax-vim
	url = http://github.com/cakebaker/scss-syntax.vim.git
[submodule ".vim/bundle/pangloss-vim-simplefold"]
	path = .vim/bundle/pangloss-vim-simplefold
	url = http://github.com/pangloss/vim-simplefold.git
[submodule ".vim/bundle/pangloss-vim-javascript"]
	path = .vim/bundle/pangloss-vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:xmlblog/oh-my-zsh.git
[submodule ".vim/bundle/kchmck-vim-coffee-script"]
	path = .vim/bundle/kchmck-vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/tpope-vim-unimpaired"]
	path = .vim/bundle/tpope-vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/geek-tabular"]
	path = .vim/bundle/geek-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/kien-ctrlp"]
	path = .vim/bundle/kien-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vimscripts-showmarks"]
	path = .vim/bundle/vimscripts-showmarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule ".vim/bundle/vimscripts-tComment"]
	path = .vim/bundle/vimscripts-tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/skwp/vim-colors-solarized.git
[submodule ".vim/bundle/tpope-vim-afterimage"]
	path = .vim/bundle/tpope-vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule ".vim/bundle/tpope-vim-eunuch"]
	path = .vim/bundle/tpope-vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
