;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
 ;; Paths
 ;;   Directories in the current project to include in the classpath

 ;; :paths ["src"]

 ;; External dependencies

 ;; :deps {
 ;;   org.clojure/clojure {:mvn/version "1.10.0"}
 ;; }

 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

 :aliases {:new
           {:extra-deps
            {seancorfield/clj-new        {:mvn/version "1.1.216"}}
            :main-opts ["-m" "clj-new.create"]}

           :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}
                       :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :cider-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
                                     cider/cider-nrepl {:mvn/version "0.22.4"}
                                     cider/piggieback {:mvn/version "0.5.1"}}
                        :main-opts ["-m" "nrepl.cmdline" "--middleware"
                                    "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

           :try
           {:extra-deps
            {deps-try/deps-try           {:git/url "https://gitlab.com/eval/deps-try"
                                          :sha "9ccf64be248d5d9aa641df9e94feaea913bc0687"}}
            :main-opts ["-m" "deps-try.main"]}

           :rebl
           {:extra-deps
            {com.cognitect/rebl          {:mvn/version "0.9.242"}
             org.openjfx/javafx-fxml     {:mvn/version "15-ea+6"}
             org.openjfx/javafx-controls {:mvn/version "15-ea+6"}
             org.openjfx/javafx-swing    {:mvn/version "15-ea+6"}
             org.openjfx/javafx-base     {:mvn/version "15-ea+6"}
             org.openjfx/javafx-web      {:mvn/version "15-ea+6"}}
            :main-opts
            ["-e" "((requiring-resolve,'cognitect.rebl/ui))" "-m" "nrepl.cmdline"]}

           :socket
           {:jvm-opts ["-Dclojure.server.repl={:port 5555 :accept clojure.core.server/repl}"]
            :extra-deps {compliment/compliment {:mvn/version "0.3.10"}}}

           :datomic
           {:extra-deps
            {com.datomic/dev-local       {:mvn/version "0.9.195"}}}

           :zprint
           {:extra-deps
            {org.clojure/clojure         {:mvn/version "1.9.0"}
             zprint/zprint               {:mvn/version "0.4.9"}}
            :main-opts  ["-m" "zprint.main"]}}

 ;; Provider attributes
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 }
